@mixin hover-active-opacity($opacity: 0.6) {
  @media (hover: hover) {
    &:hover {
      opacity: $opacity;
    }
  }
  &:active {
    opacity: $opacity;
  }
}

@mixin base-input($name) {
  .base-#{$name} {
    display: flex;
    justify-content: start;
    align-items: baseline;
    border-radius: 8px;
    gap: 8px;

    &.base-#{$name}--vertical {
      flex-direction: column;
    }
  }

  .base-#{$name}__input {
    border-radius: 4px;
    border: 2px solid var(--grey-light);
    padding: 4px;

    @media (hover: hover) {
      &:hover {
        background: var(--grey-ultralight);
      }
    }
  }
}

@mixin skeleton-block {
  background-color: var(--grey);
  border-radius: 4px;
}
