@use 'variables';
@import 'normalize.css';

:root {
  --white: #ffffff;
  --black: #171b26;
  --black-light: #363c4d;

  --grey: rgba(0, 13, 51, 0.2);
  --grey-opaque: #cccfd6;
  --grey-light: rgba(0, 12, 47, 0.1);
  --grey-light-opaque: #e6e7eb;
  --grey-emphasized: rgba(8, 15, 38, 0.35);
  --grey-emphasized-opaque: #a4a9b2;
  --grey-ultralight: rgba(0, 12, 47, 0.05);
  --grey-ultralight-opaque: #f2f3f5;
  --dark-grey: rgba(10, 17, 38, 0.6);
  --dark-grey-opaque: #6c7380;

  --brand: #ff8800;
  --brand-emphasized: #ff6a00;
  --brand-light: #ff9933;

  --link: #007dff;
  --link-light: #e5f2ff;

  --green: #77af00;
  --green-light: #e4f7be;

  --red: #d23232;
  --error-bg: #ffebed;

  --stock: #f51e78;
  --stock-text: rgba(8, 15, 38, 0.35);

  --attention-bg: #fff5d9;
  --yellow: #ffe666;

  /* Spacing */
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
}

body {
  font-family: PTSans, sans-serif;
  letter-spacing: 0.5px;
  color: var(--black);
  font-size: 15px;
  max-width: 1344px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

.overflow-hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
